<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAQKDl8VGUodzYe0Cq9sC3wzot6Hb4YVEI</string>
	<key>GCM_SENDER_ID</key>
	<string>823510409781</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.scott.speakeasy</string>
	<key>PROJECT_ID</key>
	<string>modular-analog-476221-h8</string>
	<key>STORAGE_BUCKET</key>
	<string>modular-analog-476221-h8.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:823510409781:ios:a1b2c3d4e5f6g7h8</string>
	<key>DATABASE_URL</key>
	<string>https://modular-analog-476221-h8-default-rtdb.firebaseio.com</string>
	<key>CLIENT_ID</key>
	<string>823510409781-abc123def456ghi789jkl012mno345.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.823510409781-abc123def456ghi789jkl012mno345</string>
</dict>
</plist>
